<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SkyarffApp</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/vueTry2.styles.css" asp-append-version="true" />*@

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@mdi/font@latest/css/materialdesignicons.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/dist/css/chunk-vendors.a54042d3.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/dist/css/739.f2f5644c.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/dist/css/697.84074019.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/dist/css/431.4f3db591.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/dist/css/123.c9e6cf13.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/dist/css/app.0d377fc8.css" asp-append-version="true" />
    

</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
