@section Scripts {
    <script src="~/dist/js/chunk-vendors.2007970b.js"></script>


    <script src="~/dist/js/166.111be21e.js"></script>
    <script src="~/dist/js/431.1eafac9d.js"></script>
    <script src="~/dist/js/687.ad863d35.js"></script>

    <script src="~/dist/js/697.bdc483e3.js"></script>

    <script src="~/dist/js/739.c2fdfba6.js"></script>


    <script src="~/dist/js/app.bda219ca.js"></script>
}


<div id="app">
</div>
