@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="~/dist/js/chunk-vendors.bba283e8.js"></script>
    <script src="~/dist/js/app.25091e93.js"></script>
}



<div id="app">
    
</div>
