@*@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="~/dist/js/chunk-vendors.97241239.js"></script>
    <script src="~/dist/js/app.f2e7fa2f.js"></script>
}*@

@section Scripts {
    @*<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>*@
    @*<script src="~/dist/js/site.js"></script>*@
}

<div id="app">
</div>
